<div class="anime-container">
  <img [src]="anime.poster" [alt]="anime.title" class="anime-poster" />

  <div class="anime-details">
    <div class="anime-spec">
      <h2 class="anime-title">
        {{ anime.title }}
        <button
          (click)="toggleSummary()"
          mat-icon-button
          color="primary"
          aria-label="Toggle Summary"
        >
          <mat-icon *ngIf="show; else moreIcon">expand_less</mat-icon>

          <ng-template #moreIcon>
            <mat-icon>expand_more</mat-icon>
          </ng-template>
        </button>

        <button
          (click)="gotoAnimeDetail()"
          mat-icon-button
          color="primary"
          aria-label="Toggle Summary"
        >
          <mat-icon>info</mat-icon>
        </button>
      </h2>
      <p class="movie-rating">⭐ {{ anime.rating }}</p>
    </div>

    <!-- <em>{{ anime?.releaseYear | date : "YYYY" }}</em> -->

    <!-- <p>{{ anime.cast?.join(" | ") }}</p> -->
    <p>{{ anime.genres?.join(" | ") }}</p>
    <p>{{ anime.languages?.join(" | ") }}</p>

    <p *ngIf="show" class="movie-summary">{{ anime.summary }}</p>
    <section class="bottom-icon">
      <app-like-dislike-counter
        [like]="anime.like"
        [disLike]="anime.dislike"
        (likeCount)="likeCount($event)"
        (disLikeCount)="disLikeCount($event)"
      ></app-like-dislike-counter>
      <div>
        <button
          (click)="editAnime()"
          mat-icon-button
          color="accent"
          aria-label="Edit Anime"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          (click)="deleteAnime()"
          mat-icon-button
          color="warn"
          aria-label="Edit Anime"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </section>
  </div>
</div>
