<div class="anime-container">
  <img
    class="anime-poster"
    src="https://m.media-amazon.com/images/M/MV5BYTgxZjNlZWQtYjg1OS00NzY2LTkyZTctZDBkY2Y2ZWEyMjNlXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_.jpg"
    alt=""
  />
  <div class="anime-details">
    <div class="anime-spec">
      <h2>Oshi no Kko</h2>
    </div>
    <p>
      A doctor and his recently-deceased patient are reborn as twins to a famous
      Japanese musical idol and navigate the highs and lows of the Japanese
      entertainment industry as they grow up together through their lives.
    </p>
    <button>edit</button>
    <button>delete</button>
  </div>
</div>
