.anime-list-container {
    display: grid;
    place-content: center;
    /* padding: 20px; */
    /* position: relative; */
  }
  
  /* .router-container {
    padding: 1.5rem;
  } */
  
  nav button {
    text-transform: uppercase;
    
  }
.mat-toolbar{
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 2;
  
}