<div class="search">
  <form [formGroup]="searchForm" class="search-form">
    <input
      formControlName="search"
      class="searchBar"
      type="search"
      name="search_book"
      placeholder="Search Books"
      list="search_list"
    />
    <datalist
      id="search_list"
      *ngIf="
        searchForm.get('search')?.value !== null &&
        searchForm.get('search')?.value !== ''
      "
    >
      <option
        class="option"
        *ngFor="let ani of animeList"
        value="{{ ani.title }}"
      >
        <!-- {{ mv.title }} -->
      </option>
    </datalist>
  </form>
</div>
<section class="anime-list-container">
  <app-anime
    *ngFor="let ani of animeList"
    [anime]="ani"
    (removeAnime)="loadAnimesData()"
  >
  </app-anime>
</section>
