.add-anime-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 20rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-top: 28px;

  }
  
  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }
  .class{
    background-image: url("https://images4.alphacoders.com/640/640956.jpg");
    object-fit: cover;
    width: 100%;


  }